/* 背景 */
html,body {
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
}
#fullpage {
    height: 100%;
}
/* 預設(早上) */
.section {
    font-size: 1em;
    text-align: center;
    background:linear-gradient(to top, #52ACFF, #FFE32C);;
    width: 100%;
    height: 100%;
    display: flex;

    -webkit-transition: background 0.5s ease-in-out;
        transition: background 0.5s ease-in-out;
}
/* 下午 */
.afternoon .section{
background: linear-gradient(to top, #FF2525 , #FFE53B);
}
/* 晚上 */
.night .section {
    background: linear-gradient(to top, #111936, #285A7B);
}