/* 海洋 */
/* 預設(上午) */
.water {
    position: absolute;
    background: repeating-radial-gradient(ellipse farthest-corner at center -400%, #f5c30e 30%, #518eac 90%) repeat scroll 0 0 #518eac;
    width: 100%;
    height: 200px;
    top: 68%;
    z-index: 1900;
    -webkit-transition: all 1.1s ease;
          transition: all 1.1s ease;
  
  }
  
/* 夜晚 */
.night .water{
background: repeating-radial-gradient(ellipse farthest-corner at center -400%, #7fa1bb 30%, #1d425a 90%) repeat scroll 0 0 #1d425a;
}

/* 下午 */
.afternoon .water{
    background: repeating-radial-gradient(ellipse farthest-corner at center -400%,#f54f0e 30%, #4d83a7 90%) repeat scroll 0 0 #518eac;
}