/* 圖片按鈕 */
#morning_btn,
#afternoon_btn,
#night_btn,
#auto_btn {
  overflow: hidden;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-bottom: 5%;
}
#morning_btn img,
#afternoon_btn img,
#night_btn img,
#auto_btn img {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  filter: brightness(.5);
}

#morning_btn img:hover,
#afternoon_btn img:hover,
#night_btn img:hover,
#auto_btn img:hover{
  animation: zoom 5s ease forwards;
}
@keyframes zoom {
  form {transform: scale(1.1);}
  to {transform: scale(1.3);}
}
.choose {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 20%;
}
/* 選擇樣式文字 */
.text{
  padding-top: 10px;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 10px #fff;
  margin-bottom: 5%;
}

/* 標籤cavas樣式 */
canvas{
  position: absolute;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%);
  z-index: 1999;
}