/* 海鷗 */
.seagull{
    width: 50px;
    position: absolute;
    top: 35%;
    left: 25%;
    animation: birdMove 40s linear infinite;
    -webkit-animation: birdMove 40s linear infinite;
}
.seagull2{
    top: 60%;
    left: 10%;
}

.seagull3{
    top: 50%;
    left: 20%;
}

.seagull4{
    top: 40%;
    left: 10%;
}
.seagull5{
    top: 50%;
    left: 0%;
}
/* 海鷗移動動畫 */
@keyframes birdMove {
    0% { transform: translateX(-150px) rotate(-15deg);}
    20% { transform: translate(-40px,-20px) rotate(-15deg);}
    40% { transform: translate(70px,-50px) rotate(-15deg);}
    60% { transform: translate(180px,-80px) rotate(-15deg);}
    80% { transform: translate(290px,-110px) rotate(-15deg);}
    100% { transform: translate(400px,-140px) rotate(-15deg);}
}

@-webkit-keyframes birdMove {
    0% { transform: translateX(-150px) rotate(-15deg);}
    20% { transform: translate(-40px,-20px) rotate(-15deg);}
    40% { transform: translate(70px,-50px) rotate(-15deg);}
    60% { transform: translate(180px,-80px) rotate(-15deg);}
    80% { transform: translate(290px,-110px) rotate(-15deg);}
    100% { transform: translate(400px,-140px) rotate(-15deg);}
}

/* 早上海鷗位置 */
.morning .seagull{
    top: 0%;
}
/* 夜晚海鷗位置 */
.night .seagull{
    top: 0%;
  }
  